/*overwrite the editor main stype*/
.ace_editor {
    position: relative;
    overflow: hidden;
    font: 15px / normal "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
    direction: ltr;
    text-align: left;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#editor {
    position: relative;
    width: 100%;
    min-height: 500px;
    display: block;
}

body {
    /*background-color: #f8f9f9 !important;*/
    background-color: #fff !important;
}

.button-xlarge {
    font-size: 125%;
}

.header {
    height: 5%;
    background-color: #0057b7;
    color: white;
    margin-bottom: 10px;
}

.container {
    height: auto;
}

.container .toolbar {
    display: block;
}

.container .editorView {
    display: block;
    border-top: 5px solid #99c4f3;
}

.footer {
    height: 5%;
    text-align: center;
    padding: 50px;
}

.toolbar {
    height: 5%;
    margin-bottom: -2px;
}

.active {
  background-color: #99c4f3 !important;
  border: 0px !important;
}

.inactive {
  background-color: #fff !important;
  border: 1px solid #000 !important;
}


/* Format Buttons **/
.button-59 {
  align-items: center;
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 36px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 100px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 2px;
}

.button-59:focus {
  color: #171e29;
}

.button-59:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.button-59:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 100px;
  }
}

