<html>

<head></head>

<body>
    <p class="p-3">🎉I coded this during my leisure time with <a href="https://ace.c9.io/" target="_blank">Ace</a>, Happy
        coding🎉😃</p>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1806458885240897"
        crossorigin="anonymous"></script>
    <!-- jsontool_bottom_ad_1 -->
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1806458885240897" data-ad-slot="7494591457"
        data-ad-format="auto" data-full-width-responsive="true">
    </ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <div class="container-fluid text-align-center footer-link">
        <a href="../support/privacy.html" target="_self">Privacy Policy</a>
        <span> | </span>
        <a href="../support/contact.html" target="_self">Contact Us</a>
        <span> | </span>
        <a href="../support/about.html" target="_self">About Us</a>
    </div>
</body>

</html>