<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <nav class="header navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">
                <img src="../logo.svg" alt="Logo" width="50" height="25" class="d-inline-block align-text-top">
                <span class="text-white">Json Tool
            </a>
            <span class="navbar-text text-white d-flex">
                
            </span>
            <span class="navbar-text text-white d-flex">
                <a href="https://www.json.org/json-en.html" class="text-white mx-3" target="_blank">Learn JSON</a>
                |
                <a href="../release.html" class="text-white mx-3" target="_self">2.0.0v</a>
            </span>
        </div>
    </nav>
</body>

</html>